/* --- ABOUT PAGE EXTRAS --- */
.about-title {
  color: #8b4513;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 25px;
}

.about-names {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}
