/* Fonts:
   - Pacifico: for logo and author
   - Playfair Display: for headings and paragraph text
*/

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #f5d3df;
}

/* HEADER */
header {
  background-color: #f5c6d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #8b4513;
  font-size: 45px;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

nav ul li a.active {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

/* MAIN CONTENT */
.main {
  display: flex;
  background-color: #f8bcd3;
}

.left {
  width: 50%;
  padding: 60px 50px;
}

.left h2 {
  font-size: 38px;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.3;
}

.left h2 span {
  color: #8b4513;
}

.left p {
  font-size: 19px;
  color: #000;
  line-height: 1.8;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.author {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
  color: #8b4513;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */
footer {
  background-color: #c59a86;
  color: black;
  text-align: center;
  padding: 30px 10px;
}

footer .quote {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 25px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  font-size: 16px;
}

.footer-links a {
  text-decoration: none;
  color: #0b61d0;
}
/* --- ABOUT PAGE EXTRAS --- */
.about-title {
  color: #8b4513;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 25px;
}

.about-names {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}
